body{
    background: #779A48;
}

.page1{width:80vw;height:120vh;} 
.page2{width:80vw;height:120vh;} 
.page3{width:80vw;height:120vh;} 
.page4{width:80vw;height:120vh;} 
nav ul li{display:inline;}
#page1{background:#FAF9E2}
#page2{background:#FAF9E2}
#page3{background: #FAF9E2}
#page4{background: #FAF9E2}

#navbar {
  overflow: hidden;
  padding: 90px 10px; /* Large padding which will shrink on scroll (using JS) */
  transition: 0.4s; /* Adds a transition effect when the padding is decreased */
  position: fixed; /* Sticky/fixed navbar */
  width: 100%;
  top: 0; /* At the top */
  z-index: 99;
  background-color: #779A48;
}

nav {
  display: flex;
  justify-content: left;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline;
  margin: 0 10px;
}

nav ul li button {
  background: black;
  border: none;
  color: black;
  font-size: 150%;
  cursor: pointer;

  background: black;
  -webkit-background-clip: text;

  background-clip: text;

  color: black;


  background-size: 400% 400%;
}


nav ul li button:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(167, 130, 149);
  /* Add a background color change on hover */
  transform: scale(1.05);
  /* Add a slight scale effect on hover */
}

/*for responsive menu*/
#hamIcon{display:none;}
@media screen and (max-width:800px){
nav ul li{display:block;} /*make a menu items vertical*/
#hamIcon{display: block;} /* unhide menu icon */
nav ul{display:none;} /*hide the menu item list*/
}

#hamIcon.button {
    border: none;
    background-color: #779A48;
  }

.button {    
  background-color: #4CAF50;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.menuShow{
  display: block
}

#page1 {
  display: flex;
  flex-direction: row;
  padding-left: 1%;
  padding-top: 15%;
  font-size: 130%;
}

.origin {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.origin div {
  flex: 1;
}
.origin div img {
  padding-left: 30%;
}

#page2 {
  display: flex;
  flex-direction: row;
  padding-left: 1%;
  padding-top: 15%;
  font-size: 130%;
}


.hosui {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-left: 1%;
}
.hosui div {
  flex: 1;
}
.hosui div img {
  margin: auto;
  display: flex;
  padding-left: 10%;
}

.shinseiki {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-left: 1%;
}
.shinseiki div {
  flex: 1;
}
.shinseiki div img {
  margin: auto;
  display: flex;
  padding-left: 10%;
}

.bartlett {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-left: 1%;
}
.bartlett div {
  flex: 1;
}
.bartlett div img {
  margin: auto;
  display: flex;
  padding-left: 10%;
}

.bosc {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-left: 1%;
}
.bosc div {
  flex: 1;
}
.bosc div img {
  margin: auto;
  display: flex;
  padding-left: 10%;
}


#page3 {
  display: flex;
  flex-direction: row;
  padding-left: 1%;
  padding-top: 15%;
  font-size: 130%;
}

.fade-in-element {
  opacity: 1;
  transition: opacity 1s;
}

.fade-out-element {
  opacity: 0;
  transition: opacity 1s;
}

.nutritional {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.nutritional div {
  flex: 1;
}
.nutritional div img {
  margin: auto;
  display: flex;
  padding-left: 10%;
  padding-top: 5%;
}

#page4 {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-top: 15%;
  font-size: 130%;
}

#grownheader{
  padding-left: 1%;
}

#grownref {
  padding-left: 1%;
}

.bg-image {
  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.bg-colour {
  
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  padding-left: 1%;
  padding-right: 1%;
  background-color: rgba(128,128,128,0.7);
}

.img1 { 
  padding-top: 20%;
  padding-bottom: 20%;
  background-image: url("images/germination.png"); 
}
.img2 { 
  padding-top: 20%;
  padding-bottom: 20%;
  background-image: url("images/juvenile.png"); 
}
.img3 {
  padding-top: 20%;
  padding-bottom: 20%;
  background-image: url("images/flowering.png"); 
}
.img4 { 
  padding-top: 20%;
  padding-bottom: 20%;
  background-image: url("images/fruiting.png"); 
}
.img5 {
  padding-top: 20%;
  padding-bottom: 20%;
  background-image: url("images/maturity.png"); 
}

/*for responsive*/
@media screen and (max-width:800px){
  #page1 {
    padding-top: 50%;
  }
  .page div {
    flex-direction: column;
  }
  .origin div img {
    padding-top: 5%;
    padding-left: 25%;
  }
  #page2 {
    padding-top: 50%;
  }
  #page3 {
    padding-top: 50%;
  }
  .nutritional div img {
    padding-bottom: 5%;
    padding-right: 10%;
  }
  #page4 {
    padding-top: 50%;
  }

}


